.container {
    margin: 0 auto;
    max-width: 1300px;
}

.header__preview {
    position: relative;
    padding-left: 88px;
  }
  .header__preview::before {
    content: "";
    position: absolute;
    background-image: url(https://i.ibb.co/njP7tWQ/preview-img-1.png);
    background-repeat: no-repeat;
    z-index: -1;
    max-width: 1300px;
    width: 100%;
    height: 738px;
    left: 0px;
    top: -116px;
  }
  .header__title {
    max-width: 865px;
    padding-top: 91px;
    color: #fff;
  }
  .header__text {
    padding-top: 55px;
    padding-bottom: 58px;
    font-size: 23px;
    line-height: 49px;
    color: #fff;
  }
  
  .btn__fill {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
    border: none;
    padding: 4px 29px 4px 21px;
    width: 208px;
    max-width: 208px;
    background: #4297C7;
    border-radius: 10px;
    cursor: pointer;
  }

  @media (max-width: 920px){
    .header__title{
      font-size: 30px;
    }
    .header__text{
      line-height: 30px;
    }
  }

  @media (max-width: 594px){
    .btn__fill{
      padding: 4px 5px 4px 10px;
      font-size: 20px;
      width: 132px;
    }
    .header__title{
      line-height: 40px;
      font-size: 30px;
    }
  }

  @media (max-width: 500px){
    .btn__fill{
      padding: 4px 5px 4px 10px;
      font-size: 16px;
      width: 100px;
    }
    .header__title{
      line-height: 40px;
      font-size: 20px;
    }
    .header__text{
      line-height: 30px;
      font-size: 20px;
    }
    .header__preview{
      padding-left: 30px;
    }
  }
  