.container{
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 15px;
}

.stock__title{
    text-align: center;
    font-size: 35px;
    padding-top: 100px;
}

.stock__text{
    text-align: center;
    font-size: 25px;
}

.stock__table table{
    margin: 60px auto;
    border-collapse: collapse;
}

.stock__table table td, th{
    border: 1px solid black;
    padding: 4px;
}

.stock__table table th{
    /* width: 300px; */
    text-align: center;
    background-color: #6F42C1;
    color: #fff;
}

.stock__table table td{
    text-align: center;
}

@media(max-width: 921px){
    .stock__title{
        padding-top: 165px;
    }
}

@media(max-width: 501px){
    .stock__title{
        padding-top: 235px;
    }
}

@media(max-width: 412px){
    .stock__table table th{
        font-size: 12px;
    }
    .stock__table table tr{
        font-size: 12px;
    }
    .stock__title{
        font-size: 28px;
    }
    .stock__text{
        font-size: 16px;
    }
}