@media (max-width: 1051px){
    .form-horizontal{
    width: 500px;
    padding-right: 90px;
    }
}

@media (max-width: 997px){
    .testing{
        margin-left: 226px;
    }
}

@media (max-width: 719px){
    .testing{
        margin-left: 94px;
    }
}

@media (max-width: 537px){
    .testing{
        margin-left: 50px;
    }
}