* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #000;
  }
  
  .container {
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 15px;
  }
  
  .header__wrapper {
    padding: 32px 0 32px 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #6F42C1;
  }
  .header__navigation {
    margin-left: 242px;
  }
  .header__navigation-link {
    font-size: 18px;
    line-height: 33px;
    color: #FFFFFF;
  }
  .header__navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  .header__navigation-item {
    margin-right: 31px;
  }
  .header__logout {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    color: #fff;
    width: 158px;
    max-width: 158px;
    border: 1px solid #FFFFFF;
    background: #6F42C1;
    border-radius: 50px;
    cursor: pointer;
  }
  .header__logout::after {
    position: absolute;
    content: "";
    background-image: url(https://i.ibb.co/x87mfBc/Arrow-1.png);
    background-repeat: no-repeat;
    width: 27px;
    height: 8px;
    right: 16px;
    top: 12px;
  }
  .header__preview {
    position: relative;
    padding-left: 88px;
  }
  .header__preview::before {
    content: "";
    position: absolute;
    background-image: url(https://i.ibb.co/njP7tWQ/preview-img-1.png);
    background-repeat: no-repeat;
    z-index: -1;
    width: 1272px;
    height: 738px;
    left: 0px;
    top: -175px;
  }
  .header__title {
    max-width: 865px;
    padding-top: 91px;
  }
  .header__text {
    padding-top: 55px;
    padding-bottom: 58px;
    font-size: 23px;
    line-height: 49px;
  }
  
  .portfolio__title {
    font-size: 40px;
    color: #000;
    text-align: center;
    padding-top: 87px;
    padding-bottom: 20px;
  }
  .portfolio__active {
    color: #000;
    margin-bottom: 20px;
  }
  .portfolio__text {
    color: #000;
    margin-bottom: 20px;
  }
  .portfolio__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio__select1 {
    margin-bottom: 20px;
    width: 312px;
    margin-right: 80px;
    margin-left: 219px;

    background-color: #6F42C1;
    color: #fff;
  }
  .portfolio__select2 {
    margin-bottom: 20px;
    width: 159px;

    background-color: #6F42C1;
    color: #fff;
  }
  
  .personal__title {
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .personal__income {
    color: #000;
    margin-bottom: 20px;
  }
  .personal__text {
    color: #000;
    margin-bottom: 20px;
  }
  .personal__list-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .personal__list-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .personal__select {
    width: 159px;
    margin-bottom: 20px;

    background-color: #6F42C1;
    color: #fff;
  }
  .personal__select-1 {
    width: 159px;

    background-color: #6F42C1;
    color: #fff;
  }
  .personal__btn{
    background-color: #6F42C1;
    color: #fff;
  }